[submodule "release/scripts/addons"]
	path = release/scripts/addons
	url = https://github.com/blender/blender-addons.git
	branch = blender-v3.0-release
	ignore = all
[submodule "release/scripts/addons_contrib"]
	path = release/scripts/addons_contrib
	url = https://github.com/blender/blender-addons-contrib.git
	branch = blender-v3.0-release
	ignore = all
[submodule "release/datafiles/locale"]
	path = release/datafiles/locale
	url = https://github.com/ACON3D/blender-translations.git
	branch = ABLER/main
	ignore = all
[submodule "source/tools"]
	path = source/tools
	url = https://github.com/blender/blender-dev-tools.git
	branch = blender-v3.0-release
	ignore = all
[submodule "launcher_qt"]
	path = launcher_qt
	url = https://github.com/ACON3D/QT-Launcher.git
[submodule "release/scripts/startup/model-maker"]
	path = release/scripts/startup/model-maker
	url = https://github.com/ACON3D/Model-Maker-Blender.git
